.spell-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: url('../imgs/parchment-background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    padding: 20px;
    width: 100%;
    min-height: 100vh; /* Garante que o container ocupe a altura da tela */
    box-sizing: border-box; /* Garante que padding não afete a largura total */
}

.filter-section {
    width: 100%;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: left;
}

.spell-filter-form {
    display: flex;
    flex-direction: column;
}

.filter-group {
    margin-bottom: 15px;
}

.filter-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.filter-group input {
    padding: 10px;
    font-size: 1rem;
    width: auto;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.spell-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define duas colunas de tamanho igual */
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.spell-card {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    color: white;
}
